Descriptive Statistics: STUDENTS PERFORMANCE

In [2]:
import pandas as pd 
import numpy as np

In [3]:
student_performance=pd.read_csv("D:\MY STUDY MATERIALS\SOME DATAS FOR ANALYSIS\StudentsPerformance.csv")

In [4]:
student_performance

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [5]:
student_performance_grouped=student_performance.groupby('gender')
females=student_performance_grouped.get_group('female')
females

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [8]:
females_math=females['math score']
females_math

0      72
1      69
2      90
5      71
6      88
       ..
993    62
995    88
997    59
998    68
999    77
Name: math score, Length: 518, dtype: int64

In [9]:
females_math.describe()

count    518.000000
mean      63.633205
std       15.491453
min        0.000000
25%       54.000000
50%       65.000000
75%       74.000000
max      100.000000
Name: math score, dtype: float64

In [10]:
females_math.mean()

63.633204633204635

In [11]:
females_math.count()

518

In [12]:
females_math.sum()

32962

In [13]:
females_math.std()

15.49145324233953

In [14]:
females_math.min()

0

In [18]:
females_math.var()

239.98512355959193

In [20]:
females_math.argmax()

218

In [21]:
females_math.argmin()

30